<div class='main-navbar'>
<div class='main-navbar-left'>
<div class='main-navbar-logo' data-turbolinks-scaffold>
<img alt="42" src="https://d1guu6n8gz71j.cloudfront.net/system/video/previews/1079190/big.jpg?1516201010" /> </div>
<span class='hidden-sidebars main-menu-trigger lines-button x' data-trigger-menu=''>
<span class='lines'></span>
</span>
<a class="search-mobile-button hidden-sidebars icon-search" href="https://profile.intra.42.fr/searches"></a>
</div>
<div class='main-navbar-user-nav' data-turbolinks-scaffold>



<a data-toggle='dropdown' href='#'>
<span data-login='hdumas'>

</span>
<div class='user-profile-picture visible-sidebars' style='background-image: url(https://cdn.intra.42.fr/users/small_hdumas.jpg)'></div>
</a>

</span>

<!-- frshp notifications -->
<!-- = link_to("#{Rails.application.config.module_url['profile']}/friends", :class => "user-action labelable") do -->
<!-- %span.icon-user -->
<!-- %span.labeled= current_user.invitations.count -->
</div>
</div>

<div class="cv">
  <%= image_tag "te.png", :class => "cv" %>
</div>

