<div class="img-data">

</div>

  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://data.grandpoitiers.fr/explore/embed/dataset/economie-zae-grand-poitiers-donnees-metiers/map/?dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJjb2x1bW4iLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJvYmplY3RpZCIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6InJhbmdlLWN1c3RvbSJ9XSwieEF4aXMiOiJjY29jb20iLCJtYXhwb2ludHMiOjUwLCJzb3J0IjoiIiwic2VyaWVzQnJlYWtkb3duIjoibm9temFlIiwiY29uZmlnIjp7ImRhdGFzZXQiOiJlY29ub21pZS16YWUtZ3JhbmQtcG9pdGllcnMtZG9ubmVlcy1tZXRpZXJzIiwib3B0aW9ucyI6e319fV0sInRpbWVzY2FsZSI6IiJ9&location=12,46.58376,0.36598&basemap=jawg.streets&static=false&datasetcard=true" width="400" height="300" frameborder="0"></iframe></div>
  <div class="span6">

<%= link_to "Retour !", bien_vivre_path %>
