<div class="img-data">

</div>

  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://data.grandpoitiers.fr/explore/embed/dataset/mobilite-bus-equipes-dune-motorisation-moins-polluante/analyze/?dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJjb2x1bW4iLCJmdW5jIjoiU1VNIiwieUF4aXMiOiJub21icmUiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiJyYW5nZS1BY2NlbnQifV0sInhBeGlzIjoiZW1wdHkiLCJtYXhwb2ludHMiOjUwLCJzb3J0IjoiIiwic2VyaWVzQnJlYWtkb3duIjoiYW5uZWUiLCJjb25maWciOnsiZGF0YXNldCI6Im1vYmlsaXRlLWJ1cy1lcXVpcGVzLWR1bmUtbW90b3Jpc2F0aW9uLW1vaW5zLXBvbGx1YW50ZSIsIm9wdGlvbnMiOnt9fX1dLCJ0aW1lc2NhbGUiOiIifQ%3D%3D&static=false&datasetcard=true" width="400" height="300" frameborder="0"></iframe></div>
  <div class="span6">


<%= link_to "Retour !", rendre_la_ville_path %>
