<div class="img-data">

</div>

  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://data.grandpoitiers.fr/explore/embed/dataset/reseaux-point-de-couverture-wifi-grand-poitiers-donnees-metiers/map/?location=12,46.53726,0.27225&basemap=jawg.streets&static=false&datasetcard=true" width="400" height="300" frameborder="0"></iframe></iframe></div>
  <div class="span6">

<%= link_to "Retour !", bien_vivre_path %>
