<div class="img-data">

</div>

  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://data.grandpoitiers.fr/explore/embed/dataset/environnement-defibrillateurs-grand-poitiers-donnees-metiers/map/?location=10,46.4905,0.56992&basemap=jawg.streets&static=false&datasetcard=true" width="1000" height="1000" frameborder="0"></iframe></div>
  <div class="span6">

<%= link_to "Retour !", bien_vivre_path %>
