<div class="img-data">

</div>

  <div class="span6">
    <div class="flex-video widescreen"><iframe src="https://data.grandpoitiers.fr/explore/embed/dataset/espace-public-arretes-de-travaux-voirie-grand-poitiers-donnees-metiers/map/?disjunctive.consequences_des_travaux&disjunctive.annee&disjunctive.nature_des_travaux_sce_communication&location=11,46.59251,0.31396&basemap=jawg.streets&static=false&datasetcard=true" width="400" height="300" frameborder="0"></iframe></div>
  <div class="span6">

<%= link_to "Retour !", deplacer_path %>
