
<div class="wrapper">
      <div class="lead">
        <h1>GRAND POITIERS</h1>
        <h2>COMMUNAUTE URBAINE</h2>
        <p>
          <%= link_to 'Devenir notre partenaire', 'Grand Poitiers_Stratégie Smart City_Réponse technique-Weave_VersionFinale.pdf', class: "btn btn-primary btn-lg" %>
        </p>
      </div>
    </div>

    <div class="vertical-spacer"></div>

    <div class="container">
      <div class="row text-center">
        <h3>Consulter les données collaboratives du Grand Poitiers </h3>
      </div>

      <div class="row ">
        <div class="col-sm-12 col-md-4 feature">
          <%= link_to bien_vivre_path do %>
            <div class="item bien">
            <p>
              <strong>BIEN VIVRE</strong> <br>
            </p>
          </div>
        <% end %>
      </div>

        <div class="col-sm-12 col-md-4 feature">
          <%= link_to rendre_la_ville_path do %>
            <div class="item ville">
              <p>
                <strong>RENDRE LA VILLE PLUS VERTE</strong> <br>

              </p>
            </div>
        <% end %>
        </div>
          <div class="col-sm-12 col-md-4 feature">
          <%= link_to deplacer_path do %>
            <div class="item deplacer">
            <p>
              <strong>SE DEPLACER</strong> <br>

            </p>
          </div>
        <% end %>
        </div>

      </div>
    </div>

    <div class="vertical-spacer"></div>




