.card {
  height: 350px;
  color: white;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%), url("../../../images/img/voyage.jpg");
  background-size: cover;
  position: relative;
  width: 100vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


.card-price {
  position: absolute;
  bottom: 10px;
    right: 10px

}

.card-category {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin: 0px;
}

.card-category {
  font-weight: lighter;

}

.card-description {
  position: absolute;
  bottom: 30px;
    left: 10px;
    opacity: 0.5;
    font-weight: lighter;
    text-shadow: 0px 1px rgba(0, 0, 0, 1);

}

.card-pay {
  margin: 0px 20px;
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow:  1px 1px rgba(0, 0, 0, 0.2);
}

.card-pay p {
  padding-top: 20px;
  font-weight: bolder;
}
